<section class="html-content-edit-form">
    <h1>Edit Html Content</h1>
    <form novalidate [formGroup]="form">
        <input placeholder="Name" formControlName="name" id="name" />
        <span *ngIf="form.get('name').touched && form.hasError('required', 'name')">
            required
        </span>
    </form>

    <html-textarea [(ngModel)]="htmlBody"></html-textarea>

    <button type="submit"
            (click)="tryToSubmit()"
            [disabled]="form.invalid">
        Submit
    </button>

</section>
