<section class="professional-service-edit-form">
    <h1>Edit Professional Service</h1>
    <form novalidate [formGroup]="form">
        <input placeholder="Name" formControlName="name" id="name" />
        <span *ngIf="form.get('name').touched && form.hasError('required', 'name')">
            required
        </span>
    </form>
    
    <editor [(ngModel)]="description" [style]="{'height':'320px'}"></editor>

    <button type="submit"
            (click)="tryToSubmit()"
            [disabled]="form.invalid">
        Submit
    </button>

    <button type="submit"
            (click)="onCancel.emit()"
            [disabled]="form.invalid">
        Cancel
    </button>

</section>
