@import "../assets/index";

body,html {
    color:$font-color;
}

page-header {
    display:block;
    width:1280px;
    margin: 0 auto;
}

.main-content {
    width:100%;
}


a,
a:link,
a:visited {
    color:$font-color;
    text-decoration:none;
}